@import url( 'https://fonts.googleapis.com/css?family=Montserrat');
@import url( 'https://fonts.googleapis.com/css?family=Rajdhani');
$my-black: #171717;
$my-white: #F3F4F6;
$my-purple: #754792;
$imdb: #f39c12;
$rt: #c0392b;
$mc: #34495e;
$title-font: 'Montserrat', sans-serif;
$number-font: 'Rajdhani', sans-serif;
$material-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$test-border: 3px blue dashed;
$break-point: 700px;
/////////////////////////////////////////////////////////////////////
body {
  background-color: $my-black;
  padding: 2em;
  @media screen and (max-width: $break-point) {
    padding: 0;
  }

  .container {
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    min-height: calc(100vh + 100%);
    background-color: $my-white;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;

    .header {
      border-radius: 5px 5px 0 0;
      display: flex;
      justify-content: center;
      align-content: center;
      min-height: 15vh;
      min-width: 100%;
      background-color: $my-purple;
      box-shadow: $material-shadow;

      h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: $title-font;
        font-size: 50px;
        color: $my-white;
      }
    }

    .search {
      min-width: 70%;
      min-height: 10vh;
      align-self: center;
      background-color: $my-purple;
      box-shadow: $material-shadow;
      border-radius: 0 0 5px 5px;

      #search {
        display: flex;
        justify-content: center;
        margin: 10px 20px 0;
        font-family: $title-font;

        input {
          border: 1px solid $my-black;
          padding: 10px;
          flex-grow: 2;
          font-family: $title-font !important;
          text-align: center;
        }

        button {
          border: 1px solid $my-white;
          background-color: $my-black;
          color: $my-white;
          flex-grow: 1;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }

    .main-content {
      min-height: 70vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1em;


      @media screen and (max-width: 700px) {
        flex-direction: column;

      }

      #output {
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $title-font;
        @media screen and (max-width: 700px) {
          max-width: 100%;
        }

        img {
          box-shadow: $material-shadow;
        }

        h1 {
          text-transform: uppercase;
        }

        hr {
          margin: 0 20px;
        }

        p {
          margin: 0 20px;
          text-align: center;
        }

        button {
          border: 1px solid $my-white;
          background-color: $my-black;
          color: $my-white;
          flex-grow: 1;
          text-transform: uppercase;
          letter-spacing: 2px;
          min-height: 5vh;
          margin: 3em 0 0;
          box-shadow: $material-shadow;
          padding: 1em 4em;
        }
      }

      .movie-verdict {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 50%;
        text-align: center;

        #verdict {
          h1{
          font-family: $title-font;
          letter-spacing: 5px;
          }
          font-family: $number-font;
          font-size: 20px;
          letter-spacing: 2px;
          .spectacular {
            color: #f1c40f;
          }

          .great {
            color: #27ae60;
          }

          .okay {
            color: #2980b9;
          }

          .bad,
          .error {
            color: #e74c3c;
          }
        }

        div {
          padding: 0 !important;
          margin: 1em 0;
          width: 300px;

          &:nth-child(1) {
            color: $imdb;
            border: 2px dashed $imdb;
          }

          &:nth-child(2) {
            color: $rt;
            border: 2px dashed $rt;
          }

          &:nth-child(3) {
            color: $mc;
            border: 2px dashed $mc;
          }

          &:nth-child(4) {
            color: $my-purple;
            border: 4px dashed $my-purple;
          }

          .site {
            font-size: 25px;
            font-family: $title-font;
            letter-spacing: 2px;
            font-weight: bolder;
            padding: 0 20px;
          }

          .score {
            font-family: $number-font;
            font-size: 30px;
            font-weight: bold;
            color: $my-black;
          }
        }
      }
    }

    .footer {
      height: 3em;
      background-color: $my-purple;
      border-radius: 5px 5px 0 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      p{
        color: $my-white;
        font-size: 15px;
        font-family: $title-font;
        i {
          color: $imdb;
        }
        a{
          color: $my-white;
          text-decoration: none;
          letter-spacing: 1px;
          &:hover {
            color: $my-black;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
