#output {
  height: 150%;
  .card {
    margin: 0px 0px 30px 0px;
  }
}
body {
  background-color: #E3F2FD;
  #main-header {
    margin-bottom: 50px;
    h1 {
      color: #0D47A1;
    }
  }
  .jumbotron {
    background-color: #E3F2FD;
  }
}

.search {
  button {
    margin: 20px 0px 20px 0px;
  }
}

.footer {
  .div {
    .span{
      .span{
        color: red;
      }
    }
  }
}
