@import url( 'https://fonts.googleapis.com/css?family=Montserrat');
@import url( 'https://fonts.googleapis.com/css?family=Rajdhani');
$my-black: #171717;
$my-white: #F3F4F6;
$my-purple: #754792;
$imdb: #f39c12;
$rt: #c0392b;
$mc: #34495e;
$title-font: 'Montserrat', sans-serif;
$number-font: 'Rajdhani', sans-serif;
$material-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
/////////////////////////////////////////////////////////////////////

body {
  background-color: $my-black;
  padding: 2em;

  .container {
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    min-height: calc(100vh + 100%);
    background-color: $my-white;

    .header {
      border-radius: 5px 5px 0px 0px;
      display: flex;
      justify-content: center;
      align-content: center;
      min-height: 15vh;
      min-width: 100%;
      background-color: $my-purple;
      box-shadow: $material-shadow;

      h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: $title-font;
        font-size: 50px;
        color: $my-white;
      }
    }

    .search {
      min-width: 70%;
      min-height: 10vh;
      align-self: center;
      background-color: $my-purple;
      box-shadow: $material-shadow;
      border-radius: 0 0 5px 5px;

      #search {
        display: flex;
        justify-content: center;
        margin: 10px 20px 0;
        font-family: $title-font;

        input {
          border: 1px solid $my-black;
          padding: 10px;
          flex-grow: 2;
          font-family: $title-font !important;
          text-align: center;
        }

        button {
          border: 1px solid $my-white;
          background-color: $my-black;
          color: $my-white;
          flex-grow: 1;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }

    .main-content {
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      margin-top: 1em;

      #output {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $title-font;
        img {
          box-shadow: $material-shadow;
        }

        h1 {
          text-transform: uppercase;

        }

        hr {
          margin: 0 20px;
        }

        p {
          margin: 0 20px;
          text-align: center;
        }

        button {
          border: 1px solid $my-white;
          background-color: $my-black;
          color: $my-white;
          flex-grow: 1;
          text-transform: uppercase;
          letter-spacing: 2px;
          min-height: 5vh;
          margin: 10px 0;
          box-shadow: $material-shadow;
          padding: 5px;
        }
      }

      .movie-verdict {
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;

        .imdb {
          color: $imdb;
        }

        .rt {
          color: $rt;
        }

        .mc {
          color: $mc;
        }

        .verdict {
          font-weight: bold;
          font-size: 2em;
          letter-spacing: 1em;
        }

        .spectacular {
          color: #f1c40f;
        }

        .great {
          color: #27ae60;
        }

        .okay {
          color: #2980b9;
        }

        .bad,
        .error {
          color: #e74c3c;
        }

        h1 {
          text-align: center !important;
          font-family: $title-font;
        }

        h3 {
          text-align: center !important;
          font-size: 2em;
          font-family: $number-font;
        }
      }
    }
  }
}
